{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Register {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Registeration Form</h1>
</div>
<div class="col-md-12">
    <form method="POST" action="{{ url_for('customer.register') }}">
        {{ form.hidden_tag()  }}
        <div class="panel panel-primary">
            <div class="panel panel-heading"><h3 class="panel-title">สมัครสมาชิกเพื่อใช้งานเว็บ</h3></div>
            <div class="panel-body">
                <strong>ชื่อหน่วยงานที่สังกัด</strong> {{ form.org() }}
                <strong>ไม่พบ โปรดระบุ</strong>{{ form.new_org(size=50) }}
                <br>
                <br>
                <strong>ชื่อผู้สมัคร</strong> {{ form.name(size=40) }}
                <strong>นามสกุล</strong> {{ form.lastname(size=40) }}
                <br>
                <br>
                <strong>Email address</strong> {{ form.email(size=30) }}
                <br>
                <br>
                <strong>Password</strong> {{ form.password(size=30) }}
                <br>
                <br>
                <strong>Password อีกครั้ง</strong> {{ form.password2(size=30) }}
            </div>
        </div>
        {{ form.submit }}
    </form>
</div>
{% endblock %}
